{{#if isLoading}}
  {{> loader}}
{{else}}
  {{#each messages}}
  {{> bubble text=this.message my=this.my}}
  {{/each}}
  {{#if isPosting}}
  <div class={{styles.loader}}>
    {{> loader}}
  </div>
  {{/if}}
{{/if}}