<div item-for={{name}}>
    {{#if input}}
        {{> input input }}
        <div error-for={{name}} class="error-text"></div>
    {{/if}}
    {{#if textarea}}
        {{> textarea textarea }}
        <div error-for={{name}} class="error-text"></div>
    {{/if}}
</div>