<form id="signup-form" class="form">
    {{> h1 title }}
    {{> formItem name=email.name input=email}}
    {{> formItem name=login.name input=login}}
    {{> formItem name=first_name.name input=first_name}}
    {{> formItem name=second_name.name input=second_name}}
    {{> formItem name=phone.name input=phone}}
    {{> formItem name=password.name input=password}}
    {{> formItem name=passwordRepeat.name input=passwordRepeat}}
    {{> button button }}
    {{> link loginLink}}
</form>
