<form id="signup-form" class="form">
    {{> h1 title }}
    {{> input emailField }}
    {{> input loginField }}
    {{> input nameField }}
    {{> input surnameField }}
    {{> input passwordField }}
    {{> input passwordRepeatField }}
    {{> button button }}
    {{> link loginLink}}
</form>
