<form id="signup-form" class="form">
    {{> h1 title }}
    {{> formItem name=email.name input=emaild}}
    {{> input login }}
    {{> input first_name }}
    {{> input second_name }}
    {{> input password }}
    {{> input passwordRepeat }}
    {{> button button }}
    {{> link loginLink}}
</form>
