<div class="chat-left-container ">
  {{> profilePanel profilePanel}}
  {{> chatList chatList}} 
</div>
<div class="chat-right-container ">
  {{> chat currentChat}} 
  {{> sendPanel sendPanel}} 
</div>
