<div class={{styles.wrapper}}>
   <form id="login-form" class="form">
        {{> h1 title }}
        {{> input passwordField }}
        {{> input passwordRepeatField }}
        {{> button button }}
        {{> link backLink}}
    </form> 
</div>

