.button {
  background-color: $color-accent;
  border-radius: $border-radius;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: $color-accent-light;
}

.button:focus,
.button:focus-visible {
  outline: $border-radius auto $color-accent-light;
}
